<h1>検索結果</h1>
<p>該当 <%= @posts.count %> 件:</p>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p>銘柄: <%= post.sake_name %></p>
    <p>投稿者: <%= post.user.username %></p>
  </div>
<% end %>