<h1>Search Results</h1>
<p>Found <%= @posts.count %> results:</p>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p>Sake Name: <%= post.sake_name %></p>
    <p>Posted by: <%= post.user.username %></p>
  </div>
<% end %>