<h1>20歳以上ですか？</h1>
<%= form_with url: age_verification_path, method: :post do %>
  <%= submit_tag 'はい', name: 'age_confirmation', value: 'yes', class: 'btn btn-success' %>
  <%= submit_tag 'いいえ', name: 'age_confirmation', value: 'no', class: 'btn btn-danger' %>
<% end %>
